{% extends "layout.html" %}
{% block title  %}
Rooms
{% endblock  %}
{% block content  %}
<table class="table table-striped table-hover">
    <a href="{%url 'rooms:create_view'%}" type="button" class="btn btn-primary">Add</a>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Room Number</th>
            <th scope="col">Bed Type</th>
            <th scope="col">Rate</th>
            <th scope="col">Smoking</th>
            <th scope="col">Occupant Name</th>
            <th scope="col">Is Occupied</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    {% for room in rooms  %}
    <tbody>
        <tr>
            <th scope="row">{{room.id}}</th>
            <td>{{room.room_number}}</td>
            <td>{{room.bed_type}}</td>
            <td>{{room.rate}}</td>
            <td>{{room.smoking}}</td>
            <td>{{room.occupant_name}}</td>
            <td>{{room.is_occupied}}</td>
            <td>
                 <a href="{%url 'rooms:update_view' room.pk %}" type="button" class="btn btn-warning">Update</a>
                 <a href="{%url 'rooms:delete_view' room.pk %}" type="button" class="btn btn-danger">Delete</a>
            </td>
    </tbody>
    {% endfor %}
  </table>
{% endblock  %}